#head
{
    background-color: gray;
    width: 390px;
    height: 50px;
    color: red;
    text-shadow: 0 5px 3px green;
    border: 3px solid blue;
    text-align: center;
}
p
{
    width: 355px;
    background: url(/image/hills-2836301_1280.jpeg) no-repeat;
    background-attachment: fixed;
    color: blue;
    font-size: 25px;
    text-align: justify;
    word-spacing: 6px;
    letter-spacing: 3px;
    border-top: dashed red 20px;
    border-right: double green 20px;
    border-bottom: dotted cyan 20px;
    border-left: solid orange 20px;

}
h2
{
    margin: auto;
    margin-top: 10px;
}
