body
{
background-color: rgb(21, 18, 18);
}
.div1
{
    height: 700px;
    width: 100%;
}
.img1
{
    height: 150px;
    width: 250px;
    position: absolute;
    top: 0px;
    left: 130px;
    z-index: 1;
}
.img2
{   height: 700px;
    width: 100%;
    position: absolute;
    top: 10px;
    opacity: 0.5;
}
#language-container
{
    position: absolute;
    top: 60px;
    right: 250px;
    z-index: 3;
    border: none;
}
#language-select
{
    background-color: transparent;
    padding: 8px 15px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}
.button1
{
    position: absolute;
    top: 60px;
    right: 150px;
    background-color: red;
    color: white;
    border-radius: 4px;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    z-index: 2;
    font-weight: bold;
}
.button1 :hover
{
    background-color: black;
}
.div2
{
    height: 250px;
    width: 100%;
    position: absolute;
    top: 250px;
}
.head11
{
    color: white;
    text-align: center;
    font-size:50px;
}
.head21
{
    color: white;
    text-align: center;
}
.head31
{
    color: white;
    text-align: center;
}
#email
{
    background-color: transparent;
    border-radius: 4px;
    border-style: solid;
    padding: 15px 90px;
    position: absolute;
    top: 220px;
    left: 470px;
    color: white;
    
}
.button2
{
    background-color: red;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 17px 50px;cursor: pointer;
    position: absolute;
    top: 220px;
    left: 800px;    
    font-weight: bold;
}
.div3
{
    width: 100%;
    height: 550px;
    background-color:black;
    margin-top: 10px;
}
.div31
{
    height: 200px;
    width: 550px;
    position: absolute;
    top: 850px;
    left: 150px;
}
.headEnjoy
{
    color: white;
    font-size: 50px;
}
.headWatch
{
    color: white;
}
.div31img
{   
    height: 400px;
    width: 500px;
    position: absolute;
    top: 750px;
    left: 750px;
}
.div4
{
    width: 100%;
    height: 550px;
    background-color: black;
    margin-top: 10px;
}
.div41
{
    height: 200px;
    width: 500px;
    position: absolute;
    top: 1400px;
    left: 750px;
}
.headDownload
{
    color: white;
    font-size: 50px;
}
.headSave
{
    color: white;
}
.div41img
{
    height: 400px;
    width: 550px;
    position: absolute;
    top: 1350px;
    left: 180px;
}
.div5
{
    width: 100%;
    height: 550px;
    background-color: black;
    margin-top: 10px;
}
.div51
{
    height: 200px;
    width: 550px;
    position: absolute;
    top: 2000px;
    left: 150px;
}
.headEverywhere
{
    color: white;
    font-size: 50px;
}
.headStream
{
    color: white;
}
.div51img
{
    height: 400px;
    width: 550px;
    position: absolute;
    top: 1950px;
    left: 700px;
}
.div6
{
    width: 100%;
    height: 550px;
    background-color: black;
    margin-top: 10px;
}
.div61
{
    height: 200px;
    width: 550px;
    position: absolute;
    top: 2550px;
    left: 700px;
}
.headCreate
{
    color: white;
    font-size: 50px;
}
.headSend
{
    color: white;
}
.div61img
{
    height: 400px;
    width: 550px;
    position: absolute;
    top: 2500px;
    left: 150px;
}
.div7
{
    width: 100%;
    height: 900px;
    background-color: black;
    margin-top: 10px;
}
.div71
{
    position: absolute;
    top: 3000px;
    left: 200px;
}
.headQuestions
{
    color: white;
    font-size: 50px;
    text-align: center;
}
.div711
{
    height: 60px;
    width: 1000px;
    background-color: rgb(21, 18, 18);
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    padding-left: 25px;
    padding-top: 20px;
}
.div711:hover
{
    background-color:grey;
    opacity: 0.4;
}
.div712
{
    height: 60px;
    width: 1000px;
    background-color: rgb(21, 18, 18);
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    padding-left: 25px;
    padding-top: 20px;
}
.div712:hover
{
    background-color:grey;
    opacity: 0.4;
}
.div713
{
    height: 60px;
    width: 1000px;
    background-color: rgb(21, 18, 18);
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    padding-left: 25px;
    padding-top: 20px;
}
.div713:hover
{
    background-color:grey;
    opacity: 0.4;
}
.div714
{
    height: 60px;
    width: 1000px;
    background-color: rgb(21, 18, 18);
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    padding-left: 25px;
    padding-top: 20px;;
}
.div714:hover
{
    background-color:grey;
    opacity: 0.4;
}
.div715
{
    height: 60px;
    width: 1000px;
    background-color: rgb(21, 18, 18);
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    padding-left: 25px;
    padding-top: 20px;
}
.div715:hover
{
    background-color:grey;
    opacity: 0.4;
}
.div716
{
    height: 60px;
    width: 1000px;
    background-color: rgb(21, 18, 18);
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
    padding-left: 25px;
    padding-top: 20px;
}
.div716:hover
{
    background-color:grey;
    opacity: 0.4    ;
}
.div27
{
    position: absolute;
    top: 3700px;
    left: 350px;
}
.headReady
{
    color: white;
    text-align: center;
}
#email2
{
    background-color: transparent;
    border-radius: 4px;
    border-style: solid;
    padding: 15px 90px;
    position: absolute;
    top: 60px;
    left: 120px;
    color: white;
}
.button3
{
    background-color: red;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 17px 50px;cursor: pointer;
    position: absolute;
    top: 60px;
    left: 450px;  
    font-weight: bold;  
}
footer
{
    width: 100%;
    height: 450px;
    background-color: black;
    margin-top: 10px;
}
.div8
{
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    grid-gap:10px;
    position: absolute;
    top: 4000px;
    left: 200px;
}
a
{
    color: white;
}
.p1
{
    color: white;
    padding-top: 80px;
    margin-left: 190px;
}
#language-container2
{
    position: absolute;
    top: 130px;
    border: none;
}
#language-select2
{
    background-color: transparent;
    padding: 8px 15px;
    border-radius: 4px;
    color: white;
    font-weight: bold;
}
.p2
{
    color: white;
}